<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="minimum_order_fee_provider" xsi:type="object">Netzexpert\MinimumOrderFee\Model\Checkout\MinimumOrderFeeConfigProvider</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Checkout\CustomerData\Cart">
        <plugin name="minimum_order_fee_message"
                type="Netzexpert\MinimumOrderFee\Plugin\Checkout\CustomerData\CartPlugin" />
    </type>
    <type name="Magento\CheckoutAgreements\Api\CheckoutAgreementsListInterface">
        <plugin name="feeFilterAgreements"
                type="Netzexpert\MinimumOrderFee\Plugin\CheckoutAgreementsListPlugin" />
    </type>
</config>